.was-validated .form-control:valid {
  background-image: none;
  padding-right: 0px;
}

.was-validated .form-select:valid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.was-validated .form-control:invalid {
  background-image: none;
  padding-right: 0;
}

.was-validated .form-select:invalid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  padding-right: 0;
}

.currencyBox{
  text-align: right;
}

.modal-70vw{
  width: 70vw;    /* Occupy the 70% of the screen width */
  max-width: 70vw;
}